name: ci

on:
    push:
        branches:
            - 'main'

jobs:
    build:
        runs-on: ubuntu-latest
        env:
            CI: true
            API_URL: ${{secrets.API_URL}}
            JWT_SECRET: ${{secrets.JWT_SECRET}}
            PAYPAL_CLIENT_ID: ${{secrets.PAYPAL_CLIENT_ID}}
            RECAPTCHA_SITE_KEY: ${{secrets.RECAPTCHA_SITE_KEY}}
            RECAPTCHA_SECRET_KEY: ${{secrets.RECAPTCHA_SECRET_KEY}}
        steps:
            - name: Build Docker Image
              uses: docker/setup-qemu-action@v2
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2
            - name: Login to Docker Hub
              uses: docker/login-action@v2
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}
            - name: Build and push
              uses: docker/build-push-action@v3
              with:
                  push: true
                  tags: noely215/atalanta_next_frontend:latest

    Deploy:
        needs: build
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v2
            - name: Deploy in EC2
              env:
                  PRIVATE_KEY: ${{ secrets.AWS_PRIVATE_KEY  }}
                  HOSTNAME: ${{ secrets.HOSTNAME  }}
                  USER_NAME: ${{ secrets.USER_NAME  }}

              run: |
                  echo "$PRIVATE_KEY" > private_key && chmod 600 private_key
                  ssh -o StrictHostKeyChecking=no -i private_key ${USER_NAME}@${HOSTNAME} '

                    docker pull noely215/atalanta_next_frontend:latest &&
                    docker stop db09af6a432b &&
                    docker rm db09af6a432b &&
                    docker run --name=db09af6a432b --restart=always -p 3000:3000 noely215/atalanta_next_frontend
                    exit
                  '
