name: ATALANTA FRONTEND CI
on:
    push:
        branches: [main]
    pull_request:
        branches: [main]
jobs:
    build:
        strategy:
            matrix:
                node-version: [16.x]
                mongodb-version: ['6.0']
        runs-on: ubuntu-latest
        environment: DEV
        steps:
            - uses: actions/checkout@v2
            - run: npm ci frontend
              env:
                  CI: true
                  API_URL: ${{secrets.API_URL}}
                  JWT_SECRET: ${{secrets.JWT_SECRET}}
                  PAYPAL_CLIENT_ID: ${{secrets.PAYPAL_CLIENT_ID}}
                  RECAPTCHA_SITE_KEY: ${{secrets.RECAPTCHA_SITE_KEY}}
                  RECAPTCHA_SECRET_KEY: ${{secrets.RECAPTCHA_SECRET_KEY}}
            - run: echo "${#API_URL}"
            - run: npm run build
